html, body{
    margin: 0;
    padding: 0;
    border: 0;
}

.bcan1 {
    height: 286px;
    width: 100%;
    background-color: rgb(234,235,239);
    padding: 60px 0 60px 0;
    display: flex;
    align-content: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.can2 {
    height: 266px;
    width: 544px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.log{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #1C1E21;
}
.subform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.subform input{
    width: 302px;
    height: 34;
    padding: 6px 0 6px 0;
    margin: 0 42px 0 42px;
    border: 0;
}
.subform input::placeholder{
    width: 284px;
    height: 22px;
    padding: 5px 8px 5px 8px;
    border: 1px solid;
}